.form {
  width: min(100%, 500px);
  padding: 20px;
  background: transparent;
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6); */
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1.5em;
  margin: auto;
}

.form__btn {
  width: 150px;
  height: 30px;
  background: #7c3aed;
  color: #fff;
  position: relative;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #5b21b6 0px 7px 2px, #000 0px 8px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.form__btn:hover {
  opacity: 1;
}

.form__btn:active {
  top: 4px;
  box-shadow: var(--colorDeepPink) 0px 3px 2px, var(--colorDark) 0px 3px 5px;
}

.form__btn i {
  font-size: 1.3em;
}

.errorField {
  color: var(--colorDeepPink);
}
