@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  max-width: 1500px;
  margin: auto;
}

.textShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.imgShadow {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.swiperPortfolio {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperPortfolio .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiperPortfolio .swiper-pagination .swiper-pagination-bullet {
  background-color: #d1d5db;
}

.swiperPortfolio .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #8b5cf6;
}

.swiper-cube {
  width: min(90%, 500px) !important;
  height: 400px !important;
}

.swiper-cube .swiper-slide {
  background-position: center !important;
  background-size: cover !important;
}

.swiper-cube .swiper-pagination .swiper-pagination-bullet {
  background-color: #d1d5db;
}

.swiper-cube .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #8b5cf6;
}

.instagram:hover {
  color: #bc2a8d;
}

.twitter:hover {
  color: #1da1f2;
}

.linkedin:hover {
  color: #0077b5;
}

@media screen and (min-width: 390px) {
  .swiper-cube {
    height: 500px !important;
  }
}

@media screen and (min-width: 480px) {
  .swiper-cube {
    height: 500px !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper-cube {
    min-width: 500px !important;
    height: 500px !important;
  }
}

@media screen and (min-width: 996px) {
  .swiperPortfolio .swiper-slide {
    width: 350px !important;
    height: 350px !important;
  }
}
