.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  transition: 0.3s;
  visibility: hidden;
  z-index: 50;
}

.menu > div {
  background-color: #030108;
  translate: -100% 0;
  transition: 0.2s ease-in-out;
}

.open_menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  transition: 0.3s;
  translate: 0;
  visibility: visible;
  z-index: 50;
}

.open_menu > div {
  translate: 0;
  background-color: #030108;
  transition: 0.2s ease-in-out;
  padding-inline: 2em;
}

.submenu {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;
  display: grid;
  gap: 1em;
  transition: 0.3s;
  color: #f1f5f9;
}

.submenu li {
  text-align: center;
}

.submenuOpen {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: grid;
  gap: 2.5em;
  transition: 0.3s;
  color: #f1f5f9;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 20px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

.submenuOpen li {
  animation: appear 0.4s both;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: none;
  }

  .open_menu {
    display: none;
  }
}
