.view {
  position: absolute;
  top: 15em;
  right: 10em;
  perspective: 400;
}

.plane {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}

/* modificar los px del box-shadow en desktop */
.circle {
  width: 70px;
  height: 70px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 50px #8b5cf6, inset 0 0 25px #2e1065;
}

.circle::before,
.circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 5%;
  height: 5%;
  border-radius: 100%;
  background: #8b5cf6;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px #303646;
}

.circle::before {
  transform: translateZ(-90px);
}
.circle::after {
  transform: translateZ(90px);
}
.circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.btn_download {
  width: 180px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn_7 {
  /* background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  ); */
  background: #8b5cf6;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn_7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn_7:before,
.btn_7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  /* background: rgba(251, 75, 2, 1); */
  background: #8b5cf6;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn_7:before {
  height: 0%;
  width: 2px;
}
.btn_7:after {
  width: 0%;
  height: 2px;
}
.btn_7:hover {
  /* color: rgba(251, 75, 2, 1); */
  color: #8b5cf6;
  background: transparent;
}
.btn_7:hover:before {
  height: 100%;
}
.btn_7:hover:after {
  width: 100%;
}
.btn_7 span:before,
.btn_7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  /* background: rgba(251, 75, 2, 1); */
  background: #8b5cf6;

  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn_7 span:before {
  width: 2px;
  height: 0%;
}
.btn_7 span:after {
  height: 2px;
  width: 0%;
}
.btn_7 span:hover:before {
  height: 100%;
}
.btn_7 span:hover:after {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .view {
    top: 15em;
    right: 15em;
  }

  .circle {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .view {
    top: 15em;
    right: 20em;
  }
}
